body {
    background-color: linen;
}

section#index {
    min-height: 100vh;
    position: relative;
}

section#index .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
