<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add estu</title>
</head>
<body>
<form action="/add" class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="nome" id="nome" placeholder="insira nome" class="form control">
        </div>
        <div class="col-md-6">
            <input type="text" name="idade" id="idade" placeholder="insira idade" class="form control">
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success"> enviar</button>

    </div>

</form>

</body>
</html>